<aside class="filter-container">

<h2>Filters</h2>

<div class="filter-input-container">
  <label for="filter-text" class="filter-input-label">Search</label>
  <input type="text" name="filter-text" id="filter-text" class="filter-input">
</div>

<div class="filter-input-container">
  <fieldset id="filter-rank" class="filter-fieldset">
    <legend>Rank</legend>
    <div>
      <input type="checkbox" name="filter-rank" id="filter-rank-grand-master" value="grand-master">
      <label for="filter-rank-grand-master">Grand Master</label>
    </div>
    <div>
      <input type="checkbox" name="filter-rank" id="filter-rank-master" value="master">
      <label for="filter-rank-master">Master</label>
    </div>
    <div>
      <input type="checkbox" name="filter-rank" id="filter-rank-knight" value="knight">
      <label for="filter-rank-knight">Knight</label>
    </div>
    <div>
      <input type="checkbox" name="filter-rank" id="filter-rank-padawn" value="padawan">
      <label for="filter-rank-padawan">Padawan</label>
    </div>
    <div>
      <input type="checkbox" name="filter-rank" id="filter-rank-youngling" value="youngling">
      <label for="filter-rank-youngling">Youngling</label>
    </div>
  </fieldset>
</div>

<div class="filter-input-container">
  <fieldset id="filter-faction" class="filter-fieldset">
    <legend>Faction</legend>
	<div>
	  <input type="checkbox" name="filter-faction" id="filter-faction-bounty-hunter" value="bounty-hunter">
	  <label for="filter-faction-bounty-hunter">Bounty Hunter</label>
	</div>
	<div>
	  <input type="checkbox" name="filter-faction" id="filter-faction-clone-trooper" value="clone-trooper">
	  <label for="filter-faction-clone-trooper">Clone Trooper</label>
	</div>
	<div>
	  <input type="checkbox" name="filter-faction" id="filter-faction-droid" value="droid">
	  <label for="filter-faction-droid">Droid</label>
	</div>
	<div>
	  <input type="checkbox" name="filter-faction" id="filter-faction-empire" value="empire">
	  <label for="filter-faction-empire">Empire</label>
	</div>
	<div>
	  <input type="checkbox" name="filter-faction" id="filter-faction-ewok" value="ewok">
	  <label for="filter-faction-ewok">Ewok</label>
	</div>
	<div>
	  <input type="checkbox" name="filter-faction" id="filter-faction-first-order" value="first-order">
	  <label for="filter-faction-first-order">First Order</label>
	</div>
	<div>
	  <input type="checkbox" name="filter-faction" id="filter-faction-galactic-republic" value="galactic-republic">
	  <label for="filter-faction-galactic-republic">Galactic Republic</label>
	</div>
	<div>
	  <input type="checkbox" name="filter-faction" id="filter-faction-geonosian" value="geonosian">
	  <label for="filter-faction-geonosian">Geonosian</label>
	</div>
	<div>
	  <input type="checkbox" name="filter-faction" id="filter-faction-imperial-trooper" value="imperial-trooper">
	  <label for="filter-faction-imperial-trooper">Imperial Trooper</label>
	</div>
	<div>
	  <input type="checkbox" name="filter-faction" id="filter-faction-jawa" value="jawa">
	  <label for="filter-faction-jawa">Jawa</label>
	</div>
	<div>
	  <input type="checkbox" name="filter-faction" id="filter-faction-jedi" value="jedi">
	  <label for="filter-faction-jedi">Jedi</label>
	</div>
	<div>
	  <input type="checkbox" name="filter-faction" id="filter-faction-nightsister" value="nightsister">
	  <label for="filter-faction-nightsister">Nightsister</label>
	</div>
	<div>
	  <input type="checkbox" name="filter-faction" id="filter-faction-phoenix" value="phoenix">
	  <label for="filter-faction-phoenix">Phoenix</label>
	</div>
	<div>
	  <input type="checkbox" name="filter-faction" id="filter-faction-rebel" value="rebel">
	  <label for="filter-faction-rebel">Rebel</label>
	</div>
	<div>
	  <input type="checkbox" name="filter-faction" id="filter-faction-resistance" value="resistance">
	  <label for="filter-faction-resistance">Resistance</label>
	</div>
	<div>
	  <input type="checkbox" name="filter-faction" id="filter-faction-scoundrel" value="scoundrel">
	  <label for="filter-faction-scoundrel">Scoundrel</label>
	</div>
	<div>
	  <input type="checkbox" name="filter-faction" id="filter-faction-separatist" value="separatist">
	  <label for="filter-faction-separatist">Separatist</label>
	</div>
	<div>
	  <input type="checkbox" name="filter-faction" id="filter-faction-sith" value="sith">
	  <label for="filter-faction-sith">Sith</label>
	</div>
	<div>
	  <input type="checkbox" name="filter-faction" id="filter-faction-tusken" value="tusken">
	  <label for="filter-faction-tusken">Tusken</label>
	</div>
  </fieldset>
</div>

<button id="filter-update-button" class="action-button">Update</button>

</aside>