<header class="grad">

  <div class="header-image-container">
  	<a href="/"><img src="/images/ahnald.jpg" alt="Grand AhdmiralT101" class="header-image">
  </div>

  <h1 class="site-title">Ahnald's Ranking Table</a></h1>

</header>