<div class="menubar">
  <ul>
    <li><a href="/">Home</a></li>
	<li><a href="/characters">Characters</a></li>
	<li><a href="#">Ranking Tables</a></li>
	
	<div class="dropdown">
		<li><a>YouTubers</a></li>
		<div class="dropdown-content">
			<a href="https://www.youtube.com/user/AhnaldT101" target="_blank">AhnaldT101</a>
			<a href="https://www.youtube.com/channel/UCFqi2guBkBy6NNcpSCXfj0Q" target="_blank">CrazyExcuses</a>
			<a href="https://www.youtube.com/channel/UCDWyx4wMW3RV1Hz8148OIYg" target="_blank">CubsFanHan</a>
			<a href="https://www.youtube.com/channel/UCD6cp5LBYWVe4U9I4C2gDCg" target="_blank">McMole2</a>
			<a href="https://www.youtube.com/user/MistPassiert" target="_blank">MistPassiert</a>
			<a href="https://www.youtube.com/channel/UCKjqnZEvjlf4TPtt9dmqhYw" target="_blank">MobileGamer</a>
			<a href="https://www.youtube.com/channel/UCdIo26CoCqBoO5dnc3fXcLw" target="_blank">Nukin</a>
			<a href="https://www.youtube.com/channel/UCS3DjNR8y6tKX7LSjV_RRKA" target="_blank">Smithie D</a>
			<a href="https://www.youtube.com/channel/UCJpX9j3jZP5h6y-qMA_I5-Q" target="_blank">Warrior Presents</a>
		</div>
	</div>
  </ul>
</div>